[*.cs]

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = suggestion

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
